@import "fonts"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

body
	line-height: 1

ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after, q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: normal
	font-family: 'Roboto', sans-serif
	overflow-x: hidden

img
  max-width: 100%

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.container
	max-width: 1190px
	width: 100%
	padding: 0 10px
	margin: 0 auto
.title
	font-size: 44px
	font-weight: bold
	text-align: center
	line-height: 40px


/***************************first************************/
.first
	padding: 79px 0px
.stroke
	display: inline-block
.purple
	color: #3f1f7b

.first__img-block
	display: flex
	flex-wrap: wrap
	flex-direction: row
	justify-content: space-between
	margin: 52px auto 0


.first__img-block__item
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-start
	width: 370px
	margin: 10px


.first__number
	background: #ffbd20
	color: #FFFFFF
	margin: 0 auto -14px
	font-size: 20px
	font-weight: 500
	width: 30px
	height: 30px
	display: flex
	align-items: center
	justify-content: center
	border-radius: 50%
	z-index: 1
	box-shadow: 0px 0px 0px 11px rgba(255, 189, 32, 0.36)

.first__stick
	width: 30px
	height: 5px
	margin: 21px 0 12px
	background: #613497
	background: -moz-linear-gradient(left, #613497 0%, #643595 4%, #673792 9%, #6b3890 13%, #6f3a8d 18%, #743c89 23%, #783e86 28%, #7e407f 34%, #89457a 39%, #954a71 44%, #a15067 49%, #ae555e 53%, #b45859 58%, #c15d50 62%, #c7604b 67%, #cd6247 72%, #d9673e 77%, #e46c36 82%, #ed702f 87%, #f1722c 91%, #f5732a 96%, #f87527 100%)
	background: -webkit-linear-gradient(left, #613497 0%,#643595 4%,#673792 9%,#6b3890 13%,#6f3a8d 18%,#743c89 23%,#783e86 28%,#7e407f 34%,#89457a 39%,#954a71 44%,#a15067 49%,#ae555e 53%,#b45859 58%,#c15d50 62%,#c7604b 67%,#cd6247 72%,#d9673e 77%,#e46c36 82%,#ed702f 87%,#f1722c 91%,#f5732a 96%,#f87527 100%)
	background: linear-gradient(to right, #613497 0%,#643595 4%,#673792 9%,#6b3890 13%,#6f3a8d 18%,#743c89 23%,#783e86 28%,#7e407f 34%,#89457a 39%,#954a71 44%,#a15067 49%,#ae555e 53%,#b45859 58%,#c15d50 62%,#c7604b 67%,#cd6247 72%,#d9673e 77%,#e46c36 82%,#ed702f 87%,#f1722c 91%,#f5732a 96%,#f87527 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613497', endColorstr='#f87527',GradientType=1 )

.first__text
	color: #010101
	font-weight: 500
	font-size: 20px
	text-align: center

.first__conclus-block
	display: flex
	flex-direction: column
	text-align: center
	align-items: center
	background: url("../img/first4.jpg") no-repeat top
	padding: 30px 0 0 0
	margin-top: 35px
	overflow-y: hidden


.first__conclus_title
	font-size: 24px
	color: #000000
	font-weight: 500
	position: relative
	z-index: 2
	&:after
		width: 100%
		position: absolute
		content: ''
		height: 12px
		top: 9px
		left: 0px
		background: #ffbd20
		z-index: -1

.first__conclus-text
	color: #2d2d2d
	font-size: 22px
	font-weight: 500
	margin-top: 10px

/***************************end first************************/

@import "media" // Всегда в конце
