@import "fonts"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

body
	line-height: 1

ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after, q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: normal
	font-family: "Roboto"
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.container
	max-width: 1190px
	padding: 0 10px
	width: 100%
	margin: 0 auto
.title
	font-size: 44px
	font-weight: bold
	text-align: center
	line-height: 40px
.active-color
	color: #3f1f7b


/***************************second************************/


.second
	padding: 60px 0
	&-description
		color: #444444
		font-size: 20px
		text-align: center
		margin-top: 20px
	&-main
		display: flex
		justify-content: space-between
		margin-top: 40px
		border-bottom: 1px solid #e1e1e1
		padding-bottom: 40px
		position: relative
		&:before
			content: ''
			position: absolute
			width: 20px
			height: 20px
			transform: rotate(40deg) skewX(-10deg)
			border: 1px solid #e1e1e1
			left: calc(50% - 10px)
			bottom: -11px
			background: #fff
			border-left: none
			border-top: none
	&-bottom
		text-align: center
		max-width: 530px
		width: 100%
		margin: 45px auto 0
		font-size: 22px
		line-height: 28px
		font-weight: 500
	&-side
		width: 270px
		padding: 15px 5px 0
	&-center
		width: 570px
		flex: 1
		display: flex
		justify-content: center
	&-block-img
		text-align: center
	&-name
		font-size: 20px
		text-align: center
		line-height: 24px
		position: relative
		font-weight: 500
		margin-top: 20px
		&:after
			content: ''
			width: 25px
			height: 3px
			position: absolute
			bottom: -20px
			left: calc(50% - 13px)
			background: linear-gradient(to left, #f96308, #692faf)
	&-text
		font-size: 18px
		line-height: 26px
		color: #444444
		text-align: center
		margin-top: 30px
	&-list
		display: flex
		justify-content: space-between
		padding: 10px 0 50px
		border-bottom: 1px solid #e8ecf0
		margin-bottom: 90px
	&-item
		display: flex
		align-items: center
		justify-content: flex-start
		border-left: 1px solid #e1e1e1
		width: 25%
		padding-left: 40px
		&_first
			padding-left: 0
			border-left: none
		&-text
			font-size: 20px
			font-weight: 500
			margin-left: 30px
	&-img
		border-radius: 50%
		border: 11px solid #f0f4f8
		&_left
			margin-right: -15px
		&_right
			margin-left: -15px

.item
	&-img
		background: #f0f4f8
		border-radius: 50%
		padding: 10px
		box-shadow: 0 0 0 8px #fff, 0 0 0 10px #f0f4f8
		font-size: 0
		width: 80px
		height: 80px
		text-align: center
		display: flex
		align-items: center
		justify-content: center
		flex-shrink: 0
		&_end
			justify-content: flex-end

/***************************second************************/


/***************************first************************/
.first
	padding: 79px 0px;
.stroke
	display: inline-block
.purple
	color: #3f1f7b
.first__img-block
	display: flex
	flex-direction: row
	justify-content: space-between
	margin: 52px auto 0

.first__img-block__item
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-start
	margin: 0px 43px
	width: 26%

.first__number
	background: #ffbd20
	color: #FFFFFF
	margin: 0 auto -14px
	font-size: 20px
	font-weight: 500
	width: 30px
	height: 30px
	display: flex
	align-items: center
	justify-content: center
	border-radius: 50%
	z-index: 1
	box-shadow: 0px 0px 0px 11px rgba(255, 189, 32, 0.36)

.first__stick
	width: 30px
	height: 5px
	margin: 21px 0 12px
	background: #613497
	background: -moz-linear-gradient(left, #613497 0%, #643595 4%, #673792 9%, #6b3890 13%, #6f3a8d 18%, #743c89 23%, #783e86 28%, #7e407f 34%, #89457a 39%, #954a71 44%, #a15067 49%, #ae555e 53%, #b45859 58%, #c15d50 62%, #c7604b 67%, #cd6247 72%, #d9673e 77%, #e46c36 82%, #ed702f 87%, #f1722c 91%, #f5732a 96%, #f87527 100%)
	background: -webkit-linear-gradient(left, #613497 0%,#643595 4%,#673792 9%,#6b3890 13%,#6f3a8d 18%,#743c89 23%,#783e86 28%,#7e407f 34%,#89457a 39%,#954a71 44%,#a15067 49%,#ae555e 53%,#b45859 58%,#c15d50 62%,#c7604b 67%,#cd6247 72%,#d9673e 77%,#e46c36 82%,#ed702f 87%,#f1722c 91%,#f5732a 96%,#f87527 100%)
	background: linear-gradient(to right, #613497 0%,#643595 4%,#673792 9%,#6b3890 13%,#6f3a8d 18%,#743c89 23%,#783e86 28%,#7e407f 34%,#89457a 39%,#954a71 44%,#a15067 49%,#ae555e 53%,#b45859 58%,#c15d50 62%,#c7604b 67%,#cd6247 72%,#d9673e 77%,#e46c36 82%,#ed702f 87%,#f1722c 91%,#f5732a 96%,#f87527 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613497', endColorstr='#f87527',GradientType=1 ); /* IE6-9 */

.first__text
	color: #010101
	font-weight: 500
	font-size: 20px
	text-align: center

.first__conclus-block
	display: flex
	flex-direction: column
	text-align: center
	align-items: center
	background: url("../img/first4.jpg") no-repeat top
	padding: 30px 0 0 0
	margin-top: 35px
	overflow-y: hidden


.first__conclus_title
	font-size: 24px
	color: #000000
	font-weight: 500
	background: #ffffff
	background: -moz-linear-gradient(top, #ffffff 41%, #ffbd20 14%, #ffbd20 15%, #ffbd20 75%, #ffbd20 100%, #ffffff 100%)
	background: -webkit-linear-gradient(top, #ffffff 41%,#ffbd20 14%,#ffbd20 15%,#ffbd20 75%,#ffbd20 100%,#ffffff 100%)
	background: linear-gradient(to bottom, #ffffff 41%,#ffbd20 14%,#ffbd20 15%,#ffbd20 75%,#ffbd20 100%,#ffffff 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 )

.first__conclus-text
	color: #2d2d2d
	font-size: 22px
	font-weight: 500
	margin-top: 10px;

/***************************end first************************/


/***************************eighth************************/

.eighth
	padding: 60px 0
	&-title
		text-align: right
		padding-right: 170px
	&-relative
		position: relative
		z-index: 3
		padding: 10px
	&-flex
		display: flex
		justify-content: flex-start
		position: relative
		margin-top: 0px
	&-left
		max-width: 370px
		width: 100%
		margin-top: 30px
		flex-shrink: 0
		position: relative
		&-pack
			margin: 0 auto
		&-flex
			display: flex
			justify-content: space-between
			margin-top: 7px
			position: relative
			z-index: 2

		&-text
			font-size: 16px
			color: #623496
			font-style: italic
			box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1)
			padding: 5px 10px
			border-radius: 30px
			background: #fff
		&-pack
			position: relative
			z-index: 2
	&-right
		width: 680px
		padding-left: 120px
		position: relative
	&-list
		padding: 10px 0px 10px 15px
		margin-top: 45px
	&-item
		display: flex
		align-items: center
		margin-bottom: 40px
		&_last
			margin-bottom: 0
		&-text
			margin-left: 30px
			font-size: 20px
		&-img
			position: relative
		&-line
			position: absolute
			width: 90px
			height: 1px
			left: -100px
			background: red
			top: 50%
			transform: translateY(-50%)
			z-index: 2
			&_sm
				left: -70px
				width: 60px
				&:after
			&:after
				position: absolute
				height: 10px
				width: 10px
				content: ''
				border-radius: 50%
				background: #ffbd20
				left: -5px
				top: -5px
				box-shadow: 0 0 0 8px rgba(255, 189, 32, 0.3)
	&-circle
		width: 480px
		height: 490px
		border-radius: 50%
		box-shadow: inset 0 0 0 1px #ebf1f6
		position: absolute
		top: -30px
		left: -414px
		&:after
			width: 320px
			height: 100%
			content: ''
			position: absolute
			background: #fff
			left: 0
			top: 0
	&-plashka
		width: 74px
		height: 74px
		background:  url(../img/plashka.png), linear-gradient(to right, #f96308, #692faf)
		background-repeat: no-repeat
		background-position: center
		border-radius: 50%
		font-size: 25px
		font-weight: 900
		position: absolute
		z-index: 3
		color: #fff
		display: flex
		justify-content: center
		align-items: center
		top: -30px
		left: calc(50% - 37px)
/***************************eighth************************/
@import "media" // Всегда в конце
